In [1]:
#CREATE DATAFRAME

import pandas as pd

data = ['Hello Students','Hello Teacher','Start Day With Maths','No Mam We are Not Inreseted To Do This Subject']

df = pd.DataFrame(data, columns = ['Text'])

print(df)

                                             Text
0                                  Hello Students
1                                   Hello Teacher
2                            Start Day With Maths
3  No Mam We are Not Inreseted To Do This Subject

In [2]:
#Create Table using dataframe

import pandas as pd

Students = {'Name':['Aanchal','Vivek','Dimple','Somesh','Sainu'],
            'Age':[21,20,24,19,16],
            'Percentage' :[90,97,89,94,98],
            'Grade' : ['A','A+','A','A+','A+']}

df = pd.DataFrame(Students)

print(df)

      Name  Age  Percentage Grade
0  Aanchal   21          90     A
1    Vivek   20          97    A+
2   Dimple   24          89     A
3   Somesh   19          94    A+
4    Sainu   16          98    A+

In [3]:
#convert this dataframe into csv file

import pandas as pd

Students = {'Name':['Aanchal','Vivek','Dimple','Somesh','Sainu'],
            'Age':[21,20,24,19,16],
            'Percentage' :[90,97,89,94,98],
            'Grade' : ['A','A+','A','A+','A+']}

df = pd.DataFrame(Students)
print(df)


df.to_csv('StudentData.csv',index=False)

print("SucessFully Converted Into CSV File")

      Name  Age  Percentage Grade
0  Aanchal   21          90     A
1    Vivek   20          97    A+
2   Dimple   24          89     A
3   Somesh   19          94    A+
4    Sainu   16          98    A+
SucessFully Converted Into CSV File

In [10]:
import pandas as pd

Students = {'Name':['Aanchal','Vivek','Dimple','Somesh','Sainu'],
            'Age':[21,20,24,19,16],
            'Percentage' :[90,97,89,94,98],
            'Grade' : ['A','A+','A','A+','A+']}

df = pd.DataFrame(Students)

#Caught Only A+ Stdents DATA
a_plushStudent = df[df['Grade'] == 'A+']
print(a_plushStudent)

#Caught Only Students NAME
students_Nm = df[df['Name'] == 'Somesh']
print(students_Nm)


#Caught Only less than 98percentage Data

students_below_98 = df[df['Percentage'] <98]
print(students_below_98)

     Name  Age  Percentage Grade
1   Vivek   20          97    A+
3  Somesh   19          94    A+
4   Sainu   16          98    A+
     Name  Age  Percentage Grade
3  Somesh   19          94    A+
      Name  Age  Percentage Grade
0  Aanchal   21          90     A
1    Vivek   20          97    A+
2   Dimple   24          89     A
3   Somesh   19          94    A+