In [1]:
import pandas as pd

#import file and read it
file_path = ("/content/dress_rental_prices news.csv")
df = pd.read_csv(file_path)
df.head()

,numbers,ID,Name,Brand,Colour,Catagories,Price
0,0,74416,Runway stripe dress,Stella McCartney,beige,dresses,111
1,1,73815,Reformation Kourtney Dress,Reformation,beige,dresses,50
2,2,73801,Ivory Viola bridal dress,Ghost,beige,dresses,75
3,3,73718,Pasu Dress - Rhino Tusk,Coucoo,beige,dresses,37
4,4,73605,Ellen,RIXO,beige,dresses,47

In [5]:
print(df.info())
print(df.describe())
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29997 entries, 0 to 29996
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   numbers     29997 non-null  int64
 1   ID          29997 non-null  int64
 2   Name        29995 non-null  object
 3   Brand       29997 non-null  object
 4   Colour      29997 non-null  object
 5   Catagories  29997 non-null  object
 6   Price       29997 non-null  int64
dtypes: int64(3), object(4)
memory usage: 1.6+ MB
None
            numbers            ID         Price
count  29997.000000  29997.000000  29997.000000
mean   14998.000000  42548.336400     61.668800
std     8659.532349  19867.282746     38.138688
min        0.000000    122.000000     11.000000
25%     7499.000000  27338.000000     40.000000
50%    14998.000000  42902.000000     51.000000
75%    22497.000000  60275.000000     69.000000
max    29996.000000  75024.000000    793.000000
Index(['numbers', 'ID', 'Name', 'Brand', 'Colour', 'Catagories', 'Price'], dtype='object')

In [6]:
df.columns = df.columns.str.strip()

In [7]:
print(df.isnull().sum())  # Count missing values per column
df = df.dropna()  # Remove rows with missing values (optional)

numbers       0
ID            0
Name          2
Brand         0
Colour        0
Catagories    0
Price         0
dtype: int64

In [9]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
most_expensive = df.loc[df['Price'].idxmax()]
print(most_expensive)

numbers                            26725
ID                                 64660
Name          Lux Sparkling Wedding Gown
Brand                            Vintage
Colour                             white
Catagories                       dresses
Price                                793
Name: 26725, dtype: object

In [11]:
color_counts = df['Colour'].value_counts()
print(color_counts)

Colour
black      4684
multi      4167
blue       3578
pink       3497
green      2859
white      2329
red        2261
beige      1112
yellow      944
purple      817
navy        783
orange      708
brown       617
cream       525
gold        468
silver      366
copper      120
grey        114
tan          30
phantom      16
Name: count, dtype: int64

In [13]:
Category_counts = df['Catagories'].value_counts()
print(Category_counts)

Catagories
dresses                                                                                                            24297
0                                                                                                                    114
dresses, midi                                                                                                         37
dresses, mini                                                                                                         33
dresses, Maxi                                                                                                         13
                                                                                                                   ...
dresses, cotton, Floral, Wrap, Tie-Front, regular-fit, Loose, Smart Casual, Summer, midi, Short Sleeve, V-Necks        1
dresses, cotton, Floral, Loose, Casual, Summer, Seasonal, midi, 3/4 Sleeves, Bell Sleeve, V-Necks, A-Line              1
dresses, Wool-Cashmere, Loose, Casual, Seasonal, Long Sleeve, V-Necks                                                  1
dresses, Cotton-Jersey, Loose, Smart, Summer, Seasonal, midi, Short Sleeve, Off The Shoulder, A-Line, White            1
dresses, Wool-Cashmere, Horizontal Stripe, Casual, Winter, mini, Short Sleeve                                          1
Name: count, Length: 5400, dtype: int64